<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite_1">
  <parameter name="browser" value="chrome"/>
  <test name="Test_1">
    <classes>
  		<class name="Wailwil.TestCases.Tc1"/>
  		<class name="Wailwil.TestCases.Default_table"></class>
    </classes>
  </test>
</suite> <!-- Suite_1 -->